#include "{ClassName}.hpp"

{NamespaceOpenCpp}{NamespaceIndent}{ClassName}::{ClassName}()
{NamespaceIndent}{
{NamespaceIndent}}

{NamespaceIndent}{ClassName}::~{ClassName}()
{NamespaceIndent}{
{NamespaceIndent}}
{NamespaceCloseCpp}
