#pragma once
#include <{IncludePath}>

{NamespaceOpenHpp}{NamespaceIndent}class {ClassName} : public {BaseClass}
{NamespaceIndent}{
{NamespaceIndent}public:
{NamespaceIndent}	{ClassName}();
{NamespaceIndent}	virtual ~{ClassName}() = default;
{NamespaceIndent}
{NamespaceIndent}public:
{NamespaceIndent}	const char* GetScriptTypeName() const override { return "{ClassName}"; }

{NamespaceIndent}	void OnBindEvents() override;
{NamespaceIndent}
{NamespaceIndent}	void OnStart();
{NamespaceIndent}	void OnDestroy();
{NamespaceIndent}	void OnEnable();
{NamespaceIndent}	void OnDisable();
{NamespaceIndent}	void OnUpdate(const zzz::engine::Time& time);

{NamespaceIndent}};
{NamespaceCloseHpp}
