#pragma once
#include <{IncludePath}>

{NamespaceOpenHpp}{NamespaceIndent}class {ClassName} : public {BaseClass}
{NamespaceIndent}{
{NamespaceIndent}public:
{NamespaceIndent}	{ClassName}();
{NamespaceIndent}
{NamespaceIndent}	void OnStart() override;
{NamespaceIndent}	void OnUpdate(float deltaTime) override;

{NamespaceIndent}};
{NamespaceCloseHpp}
