#pragma once
#include <{IncludePath}>

{NamespaceOpenHpp}{NamespaceIndent}class {ClassName} : public {BaseClass}
{NamespaceIndent}{
{NamespaceIndent}public:
{NamespaceIndent}	{ClassName}();
{NamespaceIndent}
{NamespaceIndent}	void OnLoad();
{NamespaceIndent}	void OnUnload();

{NamespaceIndent}};
{NamespaceCloseHpp}
