#pragma once
#include <{IncludePath}>

{NamespaceOpenHpp}{NamespaceIndent}class {ClassName} : public {BaseClass}
{NamespaceIndent}{
{NamespaceIndent}public:
{NamespaceIndent}	{ClassName}();
{NamespaceIndent}	virtual ~{ClassName}() = default;
{NamespaceIndent}
{NamespaceIndent}private:
{NamespaceIndent}	void Init(std::shared_ptr<zzz::engine::SceneEventBus> bus) override;
{NamespaceIndent}
{NamespaceIndent}	void OnStart();
{NamespaceIndent}	void OnUpdate(const zzz::engine::Time& time);

{NamespaceIndent}};
{NamespaceCloseHpp}
