#pragma once
#include <{IncludePath}>

{NamespaceOpenHpp}{NamespaceIndent}class {ClassName} : public {BaseClass}
{NamespaceIndent}{
{NamespaceIndent}public:
{NamespaceIndent}	explicit {ClassName}(zzz::GameObject* owner);
{NamespaceIndent}
{NamespaceIndent}public:
{NamespaceIndent}	const char* GetScriptTypeName() const override { return "{ClassName}"; }

{NamespaceIndent}	void OnBindEvents() override;
{NamespaceIndent}
{NamespaceIndent}	void OnInit();
{NamespaceIndent}	void OnStart();
{NamespaceIndent}	void OnUpdate(const zzz::core::Time& time);
{NamespaceIndent}	void OnDestroy();
{NamespaceIndent}	void OnEnable();
{NamespaceIndent}	void OnDisable();

{NamespaceIndent}};
{NamespaceCloseHpp}
