#include "{ClassName}.hpp"

{NamespaceOpenCpp}
{ClassName}::{ClassName}(zzz::GameObject* owner)
	: {BaseClass}(owner)
{
}

void {ClassName}::Init(std::shared_ptr<zzz::engine::GameObjectEventBus> bus)
{
	bus->OnStart.Subscribe(shared_from_this(), [this]() { OnStart(); });
	bus->OnUpdate.Subscribe(shared_from_this(), [this](float deltaTime) { OnUpdate(deltaTime); });
	bus->OnStop.Subscribe(shared_from_this(), [this]() { OnStop(); });
}

void {ClassName}::OnStart()
{
}

void {ClassName}::OnUpdate(float deltaTime)
{
}

void {ClassName}::OnStop()
{
}
{NamespaceCloseCpp}
