#include "{ClassName}.hpp"

{NamespaceOpenCpp}
{ClassName}::{ClassName}(zzz::GameObject* owner)
	: {BaseClass}(owner)
{
}

void {ClassName}::OnBindEvents()
{
	SubscribeToStart([this]() { OnStart(); });
	SubscribeToUpdate([this](const zzz::core::Time& time) { OnUpdate(time); });
	SubscribeToDestroy([this]() { OnDestroy(); });
	SubscribeToEnable([this]() { OnEnable(); });
	SubscribeToDisable([this]() { OnDisable(); });

	OnInit();
}

void {ClassName}::OnInit()
{
}

void {ClassName}::OnStart()
{
}

void {ClassName}::OnUpdate(const zzz::core::Time& time)
{
}

void {ClassName}::OnDestroy()
{
}
void {ClassName}::OnEnable()
{
}

void {ClassName}::OnDisable()
{
}
{NamespaceCloseCpp}
