#pragma once
#include <{IncludePath}>

{NamespaceOpenHpp}{NamespaceIndent}class {ClassName} : public {BaseClass}
{NamespaceIndent}{
{NamespaceIndent}public:
{NamespaceIndent}	explicit {ClassName}(zzz::GameObject* owner);
{NamespaceIndent}
{NamespaceIndent}public:
{NamespaceIndent}	const char* GetScriptTypeName() const override { return "{ClassName}"; }

{NamespaceIndent}	void OnBindEvents() override;
{NamespaceIndent}
{NamespaceIndent}	void OnStart();
{NamespaceIndent}	void OnUpdate(float deltaTime);
{NamespaceIndent}	void OnStop();

{NamespaceIndent}};
{NamespaceCloseHpp}
